<h1>Product Import</h1>

<h5>An Excel file can be uploaded to update products' current quantities and activities.</h5>

<p>
  For uploading a 'Unit Activity' file, create a Peachtree report with the following columns:
  <ol>
    <li>Item ID</li>
    <li>Item Description</li>
    <li>Beg Qty</li>
    <li>Units Sold</li>
    <li>Qty on Hand</li>
  </ol>
  <strong>And only the following products:</strong>
  <ul>
    <% @products.each do |product| %>
      <li><%= product.item_id %> - <%= product.item_description %></li>
    <% end %>
  </ul>
</p>

<p>

<%= form_for @product_import do |f| %>
  <% if @product_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% @product_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

<%= link_to 'Click to go to Home Page', root_url %>
