<h1>Unit Activity Report Import</h1>

<h5>An Excel file can be uploaded to update products' current quantities and create new activities.</h5>

<p>
For uploading a 'Unit Activity Report' file, create a Peachtree report for any <strong><em>month</strong></em> with the following columns included:
  <ol>
    <li>Item ID</li>
    <li>Item Description</li>
    <li>Beg Qty</li>
    <li>Units Sold</li>
    <li>Qty on Hand</li>
  </ol>
  <p>
  And save it in the following <strong>format: "UAR_Month_Year.xlsx", i.e., "UAR_July_2015.xlsx"</strong>
  </p>
</p>

<p>

<%= form_for @activity_import do |f| %>
  <% if @activity_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% @activity_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

<%= link_to 'Click to go to Home Page', root_url %>
