<h1>Reorder Dates</h1>
<div id="reorders">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar(@date) do |date| %>
    <%= date.day %>
    <% if @products_by_reorder_date[date] %>
      <ul>
        <% @products_by_reorder_date[date].each do |product| %>
          <li class="reorder-link"><%= link_to product.description, product_path(product.id) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
