<h1>Products</h1>

<main>
  <section class="center">
    <table class="center" id="products-index-table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Current</th>
          <th>Reorder By</th>
        </tr>
      </thead>
    
      <tbody id="products-index-body">
        <% @products.each do |product| %>
          <tr>
            <td><%= product.gusti_id %></td>
            <td><%= link_to product.description , product %></td>
            <td><%= product.current %></td>
            <td><%= product.display_reorder_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="apple_pagination">
    <%= will_paginate @products, :container => false %>
  </div>
  </section>
  <section>
  </section>
</main>

<!-- <h3 id="add product"><%= link_to 'Add a New Product', new_product_path %></h3> -->
