<h1>Products</h1>

<main class="row">
  <section>
    <table class="center index-table" id="products-list">
      <thead>
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Current</th>
          <th>Reorder By</th>
        </tr>
      </thead>
      <tbody id="products-index-body">
        <%= render 'products', collection: @products %>
      </tbody>
    </table>
  <div class="apple_pagination">
    <%= will_paginate @products, :container => false %>
  </div>
  </section>
  <section>
    <%= form_for :product, url: products_path, method: :get, html: { id: "products_search" }, remote: true do |f| %>
      <p>
        Search Products
        <%= f.text_field :term, name: :term, value: params[:term] %>
        <%= f.submit :search, name: nil %>
      </p>
    <% end %>
  </section>
</main>

<!-- <h3 id="add product"><%= link_to 'Add a New Product', new_product_path %></h3> -->
