<div class="center-inline">
  <h1 class="center-inline" id="product-page-description"><strong><%= @product.description %></strong></h1>
  <%= render 'enroute_form' %>
</div>


<div class="center" id="product-header">
  <h4>
    <strong>Item ID:</strong>
    <%= @product.gusti_id %>
  </h4>
  <h4>
    <strong>Current:</strong>
    <%= @product.current %>
  </h4>
  <h4>
    <strong>Sales this month:</strong>
    <%= @product.sales_this_month %>
  </h4>
  <h4 id="reorder-by-show">
    <strong>Reorder By:</strong>
    <%= "#{@product.display_reorder_date}" %>
  </h4>
  <h4>
    <strong>Reorder Quantity:</strong>
    <%= "#{@product.actual_reorder_quantity} units" %>
  </h4>
</div>

<h4 class="center"><strong>Customer Sales in Last 12 Full Months</strong></h4>

<div id="top-customers-row">
  <div id="previous-six">
    <table id='product-top-table'>
      <h3><strong><u><%= previous_six_full_months %></u></strong></h3>
	    <h5><strong>Average monthly sales</strong>: <%= @product.second_half_average_sales %></h5>
      <h5><strong><u>Top Customers</u></strong></h5>
      <tr>
        <th>Rank</th>
        <th>Customer</th>
        <th>Units Purchased</th>
      </tr>
      <% @second_half_top_customers.each_with_index do |(customer, quantity), rank| %>
      <tr>
        <td><%= rank + 1 %></td>
          <td><%= customer %></td>
        <td><%= quantity %></td>
      </tr>
      <% end %>
    </table>
    <div class="pie">
      <%= pie_chart @second_half_top_customers %>
    </div>
  </div>
  <div id="last-six">
    <table id='product-top-table'>
      <h3><strong><u><%= last_six_full_months %></u></strong></h2>
	    <h5><strong>Average monthly sales</strong>: <%= @product.first_half_average_sales %></h5>
      <h5><strong><u>Top Customers</u></strong></h5>
      <tr>
        <th>Rank</th>
        <th>Customer</th>
        <th>Units Purchased</th>
      </tr>
      <% @first_half_top_customers.each_with_index do |(customer, quantity), rank| %>
      <tr>
        <td><%= rank + 1 %></td>
          <td><%= customer %></td>
        <td><%= quantity %></td>
      </tr>
      <% end %>
    </table>
    <div class="pie">
      <%= pie_chart @first_half_top_customers %>
    </div>
  </div>
</div>

<div id="product-show-bottom-row">
  <div id="product-edit-home">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Home', products_path %>
  </div>
  <div id="product-navigators">
    <% if @product.previous_product && @product.previous_product.setup? %>
      <%= link_to 'Previous Product', product_path(@product.previous_product.id) %> |
    <% end %>
    <% if @product.next_product && @product.next_product.setup? %>
      <%= link_to 'Next Product', product_path(@product.next_product.id) %>
    <% end %>
  </div>
</div>
