<div class="center-justified" id="product-header">
  <p>
    <strong>Item:</strong>
    <%= @product.gusti_id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  <p>
    <strong>Current:</strong>
    <%= @product.current %>
  </p>
  <p>
    <strong>Reorder in:</strong>
    <%= "#{@product.reorder_in} days" %>
  </p>
  <p>
    <strong>Reorder Quantity:</strong>
    <%= "#{reorder_quantity} units" %>
  </p>
</div>

<div id="top-customers-row">
  <div id="column1">
    <table id='toptable'>
      <h2><strong><u>Top Customers in Last 6 Months</u></strong></h2>
      <tr>
        <th>Rank</th>
        <th>Customer</th>
        <th>Units Purchased</th>
      </tr>
      <% @first_half_top_customers.each_with_index do |(customer, quantity), rank| %>
      <tr>
        <td><%= rank + 1 %></td>
          <td><%= customer %></td>
        <td><%= quantity %></td>
      </tr>
      <% end %>
    </table>
    <div class="pie">
      <%= pie_chart @second_half_top_customers %>
    </div>
  </div>
  <div id="column2">
    <table id='toptable'>
      <h2><strong><u>Top Customers in Previous 6 Months</u></strong></h2>
      <tr>
        <th>Rank</th>
        <th>Customer</th>
        <th>Units Purchased</th>
      </tr>
      <% @second_half_top_customers.each_with_index do |(customer, quantity), rank| %>
      <tr>
        <td><%= rank + 1 %></td>
          <td><%= customer %></td>
        <td><%= quantity %></td>
      </tr>
      <% end %>
    </table>
    <div class="pie">
      <%= pie_chart @first_half_top_customers %>
    </div>
  </div>
</div>

<div id="product-show-bottom-row">
  <div id="column1">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Home', products_path %>
  </div>
  <div class="product-navigators" id="column2">
    <% if previous_product && setup?(previous_product) %>
      <%= link_to 'Previous Product', product_path(previous_product.id) %> |
    <% end %>
    <% if next_product && setup?(next_product) %>
      <%= link_to 'Next Product', product_path(next_product.id) %>
    <% end %>
  </div>
</div>


