<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @product.item_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Current:</strong>
  <%= @product.current %>
</p>

<p>
  <strong>Reorder in:</strong>
  <%= "#{@product.reorder_in} days" %>
</p>

<p>
  <strong>Top 5 Customers:</strong>
  <ol>
    <% @top_five.each do |c, q| %>
	  <li><%= "#{c}: #{q}" %></li>
    <% end %>
  </ol>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
