<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @product.item_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Current:</strong>
  <%= @product.current %>
</p>

<p>
  <strong>Reorder in:</strong>
  <%= @product.reorder_in %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
